* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: black;
}


header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section {
  width: 52%;
  max-width: 60%;
  margin: auto;
}

.contain {
  background-color: #121253;
  width: 100%;
}

section.infos {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.contatos {
  display: flex;
}
.contatos p {
  color: #A3D05D;
  margin-left: 20px;
}

section.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

nav.menu-header ul {
  display: flex;
}

nav.menu-header ul li a {
  padding: 10px;
  font-size: 13px;
  font-weight: 500;
}

nav.menu-header ul li a:hover, nav.menu-header ul li a:active {
  color: #A3D05D;
  cursor: pointer;
}

/* FIM PARTE SUPERIOR */


 /* BANNER */

section.image {
  width: 100%;
  margin: 0;
}

 /* BANNER */


/* SECAO INSTITUCIONAL */
section.institucional {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "h1 h1" "line line" "h3 h3" "image-recepcao text1" "text2 image-escritorio ";
  grid-gap: 20px;
}

section.institucional h1 {
  grid-area: h1;
  margin: auto;
  padding: 40px 0 0;
  text-transform: uppercase;
  color: #444;
}

.line {
  grid-area: line;
  width: 100px;
  border-top: 1px solid #b9b9b9;
  margin: auto;
}

section.institucional h3 {
  grid-area: h3;
  margin: 20px 0 0;
  color: #012A5E;
}

.image {
  padding: 15px;
}

.recepcao {
  grid-area: image-recepcao;
}

.escritorio {
  grid-area: image-escritorio;
}

.first {
  grid-area: text1;
}

.second {
  grid-area: text2;
}

.text-paragraph {
  margin-top: 25px;
}

span {
  font-size: 25px;
  color: #012A5E;
  font-weight: 500;
}

/* SECAO INSTITUCIONAL */


/* SECAO VALORES */
.valores {
  background-color: #ebebeb;
}

section.grid-valores {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img-valores topicos topicos topicos" "diretrizes diretrizes governanca governanca"; 
  grid-gap: 20px;
}

.img-valores {
  grid-area: img-valores;
  width: 40%;
}

.tres-topicos {
  grid-area: topicos;
}

.diretrizes {
  grid-area: diretrizes;
}

.governanca {
  grid-area: governanca;
}
