.wrapper {
  display: grid;
  
}

#header {
  background-color: #002847;  
}

#icon {
  display:inline-flex;
  background-color: #ffff;
}

#linkHeader {
 float: right;
 place-items: center;
}

#textoA {
  text-align: center
}
.containerA {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  justify-content: center;
}