.wrapper {
  display: grid;
  
}

#header {
  background-color: #002847;  
}

#icon {
  display:inline-flex;
  background-color: #ffff;
}

#linkHeader {
 float: right;
 place-items: center;
}

#textoA {
  text-align: right;
}
.containerA {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  justify-content: center;
}
.container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
  }